
.shopcategory-products{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}
/* ---------- ≤ 1280px ---------- */
@media screen and (max-width: 1280px) {
  .shopcategory-products {
    gap: 18px;
  }
}

/* ---------- ≤ 1024px ---------- */
@media screen and (max-width: 1024px) {
  .shopcategory-products {
    gap: 15px;
    justify-content: space-around;
  }
}

/* ---------- ≤ 800px ---------- */
@media screen and (max-width: 800px) {
  .shopcategory-products {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
